---js
{
  layout: "layouts/base.njk",
  pagination: {
    data: "sections",
    size: 1,
    alias: "section",
    before: function(data) {
      let sections = data.filter((s) => s.tag);
      return sections;
    }
  },
  permalink: "{{pagination.items[0].url}}/index.html",
  eleventyComputed: {
    title: "{{ pagination.items[0].name }}"
  }
}
---

{%- if section.long -%}
<p>
{{ section.long | safe }}
<p>
{%- endif -%}

<ul class="articles">
  {%- for article in collections[section.tag] -%}
  <li>
    <a href="{{ article.url | url }}">{{ article.data.title }}</a>
  </li>
  {%- endfor -%}
</ul>
