---js
{
  layout: "layouts/base.njk",
  pagination: {
    data: "sections",
    size: 1,
    alias: "current_section",
    before: function(data) {
      let sections = data.filter((s) => s.tag);
      return sections;
    }
  },
  permalink: "{{ current_section.url }}/index.html",
  eleventyComputed: {
    title: "{{ current_section.name }}",
    section: "{{ current_section.url }}",
  }
}
---

{%- if current_section.long -%}
<p>
{{ current_section.long | safe }}
<p>
{%- endif -%}

<ul class="articles">
  {%- for article in collections[current_section.tag] -%}
  <li>
    <a href="{{ article.url | url }}">{{ article.data.title }}</a>
  </li>
  {%- endfor -%}
</ul>
