---
layout: layouts/base.njk
templateClass: tmpl-home
---

{{ content | safe }}

<h2>Recent Posts</h2>
<ul>
  {%- for post in collections.posts -%}
    <li>
      <a href="{{ post.url | url }}" class="post-title">{{ post.data.title }}</a>
      &mdash;
      <span class="post-date">{{ post.date | readableDate }}</span>
    </li>
  {%- endfor -%}
</ul>

